@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap");

.primeiro-artigo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 80px;
}

.lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-left: 50px;
  position: relative;
  z-index: -1;
}

.bloco-1 li::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../Img/Marcador.svg");
  position: absolute;
  left: 20px;
}

.bloco-2 {
  position: relative;
}

.bloco-2 li::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../Img/Marcador.svg");
  position: absolute;
  left: -25px;
}

.kombi {
  justify-content: flex-end;
  max-width: 80%;
  padding-left: 20%;
}

/* Responsividade */

@media (max-width: 1200px) {
  .primeiro-artigo {
    margin: 30px;
  }
  .kombi {
    max-width: 85%;
  }
  .primeiro-artigo {
    padding-bottom: 40px;
  }
}

@media (max-width: 900px) {
  .kombi {
    display: none;
  }
  .primeiro-artigo {
    padding-bottom: 20px;
  }

  .primeiro-artigo {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }
}

@media (max-width: 450px) {
  .lista {
    display: block;
    padding-top: 40px;
  }
  .lista-1 {
    padding-top: 20px;
  }
}
